services:
  postgres:
    image: postgres:17
    container_name: bank-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - bank-network
    
  generator:
      build: ./generator
      container_name: bank-generator
      env_file:
        - .env
      depends_on:
        postgres:
          condition: service_healthy
      networks:
        - bank-network

volumes:
  postgres_data:

networks:
  bank-network:
    driver: bridge